<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="h2 card-title text-center">Log</h3>
                    <table class="table lime-green-strip table-striped">
                        <thead>
                        <tr>
                            <th>
                                Event
                                <a
                                    uiSref=""
                                    role="button"
                                    [uiParams]="{ sortEvent: this.sort }"
                                    class="fa fa-sort d-link"
                                    (click)="changePaginationSortEvent( sort )"
                                        >
                                </a>
                            </th>
                            <th>ID</th>
                            <th>
                                Status
                                <a
                                    uiSref="log"
                                    class="fa fa-sort d-link"
                                    [uiParams]="{ sortStatus: crf.sortStatus }"
                                    (click)="changePaginationSortStatus( sort )"
                                        >
                                </a>
                            </th>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="listCRF" class="grey-table">
                        <tr *ngFor="let crf of listCRF">
                            <td>{{ crf.name.ENGLISH }}</td>
                            <td>{{ crf.id }}</td>
                            <td>{{ crf.status }}</td>
                            <td>
                                <a class="d-link table-link" href="javascript:void(0);">
                                    <i class="fa fa-external-link"></i>
                                    Open
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-secondary">
                    <div class="d-flex justify-content-between" *ngIf="listCRF">
                        <button type="button" (click)="debug()"> debug</button>
                        <ngb-pagination
                            (pageChange)="changePaginationPage($event)"
                            [maxSize]="maxPagesCount"
                            [collectionSize]="pagination.total"
                            [pageSize]="pagination.size"
                            [(page)]="page"
                            aria-label="Default pagination"
                                >
                        </ngb-pagination>
                        <div ngbDropdown placement="bottom-right">
                            <a
                                role="button"
                                class="d-link"
                                href="javascript:void(0);"
                                ngbDropdownToggle
                                    >
                                <i class="fa fa-file-text"></i> Size
                            </a>
                            <div ngbDropdownMenu class="text-center">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a
                                            role="button"
                                            class="d-link"
                                            uiSref="log"
                                            [uiParams]="{ size: crf.size }"
                                            (click)="changePaginationSize(size[0])"
                                                >
                                            <i class="fa fa-file-text"></i> Size 2
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a
                                            role="button"
                                            class="d-link"
                                            uiSref="log"
                                            [uiParams]="{ size: crf.size }"
                                            (click)="changePaginationSize(size[1])"
                                                >
                                            <i class="fa fa-file-text"></i> Size 5
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a
                                            role="button"
                                            class="d-link"
                                            uiSref="log"
                                            [uiParams]="{ size: crf.size }"
                                            (click)="changePaginationSize(size[2])"
                                                >
                                            <i class="fa fa-file-text"></i> Size 10
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
